@import "../../../assets//scss/abstracts";

.div-pagination {
  display: flex;
  justify-content: space-between;
  .custom-pagination {
    .page-item {
      margin-right: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 26px;
      box-sizing: border-box;
      .page-link {
        background: $white;
        border: 0.5px solid #eeecf2;
        border-radius: 3px;
        color: $black;
        font-size: 13px;
        font-weight: 400;
        &:focus {
          box-shadow: 0 0;
        }
      }
      &.disabled {
        .page-link {
          background: #eeecf2;
          opacity: 0.5;
          &:focus {
            box-shadow: 0 0;
          }
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .page-item.active {
      .page-link {
        background-color: #20B169;
        color: $common-white;
        border: 1px solid #eeecf2;
        font-weight: 500;
      }
    }
  }
  .show-product {
    display: flex;
    select {
      border: 0.5px solid #d2d2d2;
      background-color: #20B169;
      color: $common-white;
      font-size: 13px;
      margin: -5px 8px;
      font-weight: 600;
      padding: 6.5px;
      height: 33px;
      border-radius: 3px;

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
    }
    option {
      text-align: center;
    }
    select::-ms-expand {
      display: none !important;
    }
    option {
      text-align: center;
    }
    span {
      font-size: 12px;
      color: #575757;
    }
  }
}
