@import "../../../assets/scss/abstracts/";

.table-block {
  background-color: #ffffff;
  border-radius: 8px;
  table {
    width: 100%;
    border: 1px solid #DDDFE1;
     ;
    tr {
      th {
        // background: #e0e0e0;
        font-weight: normal;
        font-size: 16px;
        color:  #000;
        padding: 10px 20px;
        // border: 1px solid rgba(0, 0, 0, 0.25) !important;
        text-align: center;
        position: sticky !important;
        top: 0px !important;
        z-index: 9;
      }
    }

    td {
      padding: 20px 20px;
      font-weight: 500;
      font-size: 14px;
      color: $grey;
      // border: 1px solid rgba(0, 0, 0, 0.25);
      line-height: 24px;
    }
    .empty-height {
      th {
        background: none;
        padding: 0;
      }
      td {
        background: none;
        padding: 0;
        height: 6px;
      }
    }
  }
}
.table > :not(:first-child) {
  border-top: 0px !important;
}

.maintable-content {
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.2);
  height: auto;
}
.sortimg-img {
  height: 15px;
  width: 15px;
  cursor: pointer;
}
.table {
  tr th {
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }
}
